input {
  width: 100%; 
  padding: 5px;
}

nav {
  width: 19%; 
  height: 100%; 
  position: fixed;
  top: 0px;
}

nav ul {
  padding-left: 10px;
}

nav li {
  list-style-type: none;
  cursor: pointer;
}

main {
  height: 100%; 
  width: 80%; 
  margin-left: 20%;
}

.open .dir:before {
  content: '\25BE\2002';
}

.closed .dir:before {
  content: '\25B8\2002';
}

.file:before {
  content: '\2002\2002';
}

.closed > ul{
  display: none !important;
  visibility: hidden;
}