@charset "utf-8";

body {
    background-color: #272822;
}

h1 {
  color: #fff;
}

input {
    font-size: 20px;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
}

nav {
    width: 19%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    top: 0px;
    overflow-y: scroll;
}

nav ul {
    padding-left: 10px;
}

nav li {
    list-style-type: none;
    cursor: pointer;
}

info {
    position: fixed;
    bottom: 0px;
    color: #666;
    width: inherit;
}

info.error{
    color: red;
}

main {
    min-height: 1000px;
    width: 80%;
    margin-left: 20%;
}

.open .dir:before {
    content: '\25BE\2002';
}

.open.selected {
    background-color: #ccc;
}

.closed .dir:before {
    content: '\25B8\2002';
}

.file:before {
    content: '\2002\2002';
}

.closed > ul{
    display: none !important;
    visibility: hidden;
}
